@model IEnumerable<PatientUser>

@{
    ViewData["Title"] = "Patient Dashboard";
}

<h2>Admin Dashboard</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(modil=>modil.Id)</th>
            <th>@Html.DisplayNameFor(modil=>modil.UserName)</th>
            <th>@Html.DisplayNameFor(modil=>modil.Gender)</th>
            <th>@Html.DisplayNameFor(modil=>modil.Email)</th>
            <!-- Add other properties as needed -->
        </tr>
    </thead>
    <tbody>
        @foreach (var adminUser in Model)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem=>adminUser.Id)</td>
                <td>@Html.DisplayFor(ModelItem=>adminUser.UserName)</td>
                <th>@Html.DisplayFor(ModelItem=>adminUser.Gender)</th>
                <td>@Html.DisplayFor(ModelItem=>adminUser.Email)</td>
                <!-- Display other properties as needed -->
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Create">Add a Pationet</a>
</div><div>
    <a asp-action="Delete">Delete a Pationet</a>
</div>