@using Hospital_appointment_system.ViewModels;
@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@model IEnumerable<AdminAppointmentsViewModel>


<div class="container p-3 ">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> @ViewData["AppointmentsList"]</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Appointment" asp-action="AdminMakeAnAppointment" class="btn btn-primary">
                <i class="bi bi-person-add"></i> &nbsp; @ViewData["AddnewAppointment"]
            </a>

        </div>
    </div>

</div>
<br />
<section id="appointment" class="appointment section-bg">
    <div class="container">
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <td><label class="form-label"><i class="bi bi-person-fill"></i> @ViewData["PatientName"]</label></td>
                    <td><label class="form-label"><i class="bi bi-envelope-at-fill"></i> @ViewData["PatientEmail"]</label></td>
                    <td><label class="form-label"><i class="fa-regular fa-hospital ml-1"></i>  @ViewData["Clinic"]</label></td>
                    <td><label class="form-label"><i class="fa-solid fa-user-doctor ml-1"></i> @ViewData["Doctor"]:</label></td>
                    <th><label class="form-label"><i class="fa-solid fa-calendar-days ml-1"></i> @ViewData["Day"]:</label></th>
                    <td><label class="form-label"><i class="fa-regular fa-clock ml-1"></i> @ViewData["Time"]:</label></td>
                    <!-- Display other properties as needed -->
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.PatientName
                        </td>
                        <td>
                            @item.PatientEmail
                        </td>
                        <td>
                            @item.ClinicName
                        </td>
                        <td>
                            @item.DoctorName
                        </td>
                        <td>
                            @item.DayOfWeek
                        </td>
                        <td>
                            @item.Time
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Appointment" asp-action="Delete" asp-route-id="@item.AppointmentID"
                                   class="btn btn-danger "> <i class="bi bi-trash"></i>@ViewData["Delete"]</a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</section>
</div>

