@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
@using Hospital_appointment_system.ViewModels;
@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@model IEnumerable<MyAppointmentsViewModel>
<section id="appointment" class="appointment section-bg" style="margin-top:100px">
    <div class="container">

        <div class="section-title mt-5" style="margin-top:200px">
            <h2>Make AnAppointment</h2>
        </div>
        <table class="table table-bordered table-striped m-5" style="width:100%">
            <thead>
                <tr>
                    <td><label class="form-label"><i class="fa-regular fa-hospital ml-1"></i> Clinic</label></td>
                    <td><label class="form-label"><i class="fa-solid fa-user-doctor ml-1"></i> Doctor:</label></td>
                    <th><label class="form-label"><i class="fa-solid fa-calendar-days ml-1"></i> Day:</label></th>
                    <td><label class="form-label"><i class="fa-regular fa-clock ml-1"></i> Time:</label></td>
                    <!-- Display other properties as needed -->
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ClinicName
                        </td>
                        <td width="20%">
                            @item.DoctorName
                        </td>
                        <td>
                            @item.DayOfWeek
                        </td>
                        <td>
                            @item.Time
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Appointment" asp-action="Delete" asp-route-id="@item.AppointmentID"
                                   class="btn btn-danger "> <i class="bi bi-trash"></i>@ViewData["Delete"]</a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</section>
    
